.dogsArea{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    margin-left: 25%;
    margin-top: 10%;
}

.pagination{
    min-width: 100%;
}